$text-white:#fff;
$text-black:#000;
$text-yellow:#76df0d;
$text-red:#fe0000;
$text-blue:#00fffe;
$text-darkblue:#0101ff;
$text-green:#008001;
$bg-color-black:#000;
$bg-color-cyan:#01ffff;
$bg-color-green:#008001;
$bg-color-yellow:#ffff01;
$bg-color-purple:#ff00ff;
$bg-color-gray:#808080;
$bg-color-orange:#ff6448;
$bg-color-red:#fe0000;
$border-default: 1px solid #000;


